<div class="overflow-x-auto m-auto w-1/2 lg:px-6 w-full lg:w-1/2 text-black">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th class="text-md lg:text-xl text-black text-bold">CATEGORY</th>
          <th class="text-md lg:text-xl text-black text-bold">INTERNATIONAL</th>
          <th class="text-md lg:text-xl text-black text-bold">NATIONAL</th>
        </tr>
      </thead>
      <tbody>
        <!-- Offline -->
        <tr>
            <td class="text-lg text-bold text-black text-bold">Offline</td>
        </tr>
        <tr>
          <td class="text-md lg:text-base">Presenter + Conference</td>
          <td class="text-md lg:text-base">USD 49 / IDR 750.000</td>
          <td class="text-md lg:text-base">IDR 500.000</td>
        </tr>
        <tr>
          <td class="text-md lg:text-base">Additional Articles/Author</td>
          <td class="text-md lg:text-base">USD 36 / IDR 550.000</td>
          <td class="text-md lg:text-base">IDR 350.000</td>
        </tr>
        <!-- Online -->
        <tr>
            <td class="text-lg text-bold text-black text-bold">Online</td>
        </tr>
        <tr>
          <td class="text-md lg:text-base">Presenter + Conference</td>
          <td class="text-md lg:text-base">USD 40 / IDR 600.000</td>
          <td class="text-md lg:text-base">IDR 400.000</td>
        </tr>
        <tr>
          <td class="text-md lg:text-base">Additional Articles/Author</td>
          <td class="text-md lg:text-base">USD 30 / IDR 450.000</td>
          <td class="text-md lg:text-base">IDR 250.000</td>
        </tr>
      </tbody>
    </table>
  </div>