<div class="overflow-x-auto m-auto w-1/2 lg:px-6 w-full lg:w-3/4 text-black">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th class="text-xs lg:text-xl text-black text-bold">CATEGORY</th>
        <th class="text-xs lg:text-xl text-black text-bold">OFFLINE</th>
        <th class="text-xs lg:text-xl text-black text-bold">ONLINE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-md lg:text-base">Lecturer/Practitioner/Public/Student S2-S3</td>
        <td class="text-md lg:text-base">USD 17 / IDR 250.000</td>
        <td class="text-md lg:text-base">USD 13 / IDR 200.000</td>
      </tr>
      <tr>
        <td class="text-md lg:text-base">Student D3/D4/S1</td>
        <td class="text-md lg:text-base">USD 4 / IDR 50.000</td>
        <td class="text-md lg:text-base">USD 4 / IDR 50.000</td>
      </tr>
    </tbody>
  </table>
</div>