<footer class="footer p-10 bg-[#1E78B4] text-base-content sm:px-32">
    <nav>
      <header class="text-white footer-title">Navigation</header> 
      <a href="/" class="text-white link link-hover text-base">Home</a>
      <a href="/conference" class="text-white link link-hover text-base">Conference</a>
      <a href="/paper" class="text-white link link-hover text-base">Call for Paper</a>
    </nav> 
    <nav>
      <header class="text-white footer-title">Contact Us</header> 
      <a href="/contact" class="text-white text-base link link-hover">Conference</a>
      <a href="/contact" class="text-white text-base link link-hover">Call for Paper</a>
      <a href="/contact" class="text-white text-base link link-hover">Co-Host</a>
      <a href="/contact" class="text-white text-base link link-hover">Sponsorship</a>
      <a href="/contact" class="text-white text-base link link-hover">Media Partner</a>
    </nav> 
  </footer> 
  <footer class="footer px-10 py-4 border-t bg-base-200 text-base-content border-base-300 sm:px-32 bg-white">
    <aside class="items-start sm:items-center grid-flow-col flex flex-col sm:flex-row">
      <img src="/eventorganizer/incafa2024.png" style="height: 5vh;" alt="" srcset="">
      <p class="text-black">2nd Int'l & 5th Nat'l Conference on Accounting and Fraud Auditing 2024<br/>Universitas Trilogi</p>
    </aside>
  </footer>