---
import NavBarTop from "./NavBarTop.astro"
import Footer from "./Footer.astro";

export const prerender = true;

export interface props {
    title: string;
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="light" class="bg-white">
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" /> 
        <meta http-equiv="Pragma" content="no-cache" /> <meta http-equiv="Expires" content="0" />
        <meta charset="UTF-8" />
        <meta http-equic="Pragma" content="no-cache"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title} - 2nd Int'l & 5th Nat'l CAFA 2024</title>
        <link
			rel="icon"
			type="image/svg+xml"
			href="/icon/ncafa-icon.webp"
		/>
    </head>
    <body class="min-h-full flex flex-col">
        <NavBarTop />
        <slot />
        <Footer />
        <script
            src="https://kit.fontawesome.com/36090d8799.js"
            crossorigin="anonymous"></script>
            <style>
                @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap");
    
                *{
                    font-family: "Plus Jakarta Sans"!important;
                }
            </style>
    </body>
</html>
