---
import NavBarTop from "./NavBarTop.astro";
const menuItems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Conference",
    path: "/conference",
  },
  {
    title: "Call for Paper",
    path: "/paper",
    children: [
      {
        title:"Template",
        path:"/template",
      }
    ]
  },
  {
    title: "Journal Partners",
    path: "/journalpartners",
  },
  {
    title: "Co-Host",
    path: "/cohost",
  },
  {
    title: "Committee",
    path: "/committee",
  },
  {
    title: "Sponsors & Media Partners",
    path: "/sponsors",
  },
  {
    title: "Contact Us",
    path: "/contact",
  },
];
---

<NavBarTop/>
<div class="flex-wrap navbar h-auto bg-ncafa-4 w-full">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-white w-72 rounded-box gap-2 text-black"
        >
          {
            menuItems.map((menu) => (
              <li>
                <a href={menu.path}>{menu.title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="navbar navbar-center justify-center items-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 text-white hover:text-white text-sm lg:text-lg xl:text-xl justify-center">
        {
          menuItems.map((menu) => (
            <li>
              <a href={menu.path}>{menu.title}</a>  
            </li>
          ))
        }
      </ul>
    </div>
    <div class="navbar-end">
    </div>
  </div>
