<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#47A2C6" />

    <title>Zoom Day 2 - 2nd Int'l & 5th Nat'l CAFA 2024</title>
    <meta http-equiv="refresh" content="0; url='https://us06web.zoom.us/j/84671499344?pwd=h4gPo6SnCb4TaSMB2Ad0CSZb3l0nYB.1'" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</html>