---
import Jumbotron from "../layouts/partials/Jumbotron.astro";
import Paragraph from "../layouts/components/Paragraph.astro";
import Layout from "../layouts/partials/Layout.astro";
import Container from "../layouts/partials/Container.astro";
import Contact from "../layouts/components/ContactSub.astro";
import ContactContainer from "../layouts/components/ContactContainer.astro";
import Heading2 from "../layouts/components/Heading2.astro";
import HeadingMini from "../layouts/components/HeadingMini.astro";

const response = await fetch(
    "https://data.jetadmin.app/projects/inncafa/prod/googlesheets_k55r/models/co-host",
    {
      headers: {
        Authorization: 'Bearer q1ZPkHTDtpqjsmyyspYZ4B2ZK0nq0rqwliw4mCwT',
      },
    }
  );
  
const data = await response.json();
const cohostDB = data.results;
---

		<Layout title="Co-Host">
			<Container>
                <Heading2
					text="Co-Host"/>
				<div class="m-1">
					<div class="flex flex-row flex-wrap justify-center justify-items-center gap-4 my-4">
						{
							cohostDB
							.sort((cohost1, cohost2) => {
								return cohost1.nama.localeCompare(cohost2.nama);
								})
							.map((cohost: any) => (
								<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
									<div class="m-5 mx-auto flex justify-center items-center">
										<img
											class="rounded-t-lg aspect-[3/4] object-contain w-3/4 h-1/2"
											src={cohost.logo}
											alt=""
										/>
									</div>
									<div class="p-5">
										<a href={cohost.url} target="_blank">
											<h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-black text-center">
												{cohost.nama}
											</h5>
										</a>
									</div>
								</div>
								))
							}
				</div>				
			<HeadingMini text="more to be announce" />
			</Container>
			<Container>
				<Heading2 text="Contact Us" />
				<ContactContainer>
					<Contact
					media="WhatsApp"
					,
					class="fa-brands fa-whatsapp fa-2xl py-3 text-black"
					,
					text="+62 838-0670-7035 (Ms. Almira)"
					,
					href="https://wa.me/6283806707035"
					,
				/>
					<Contact
						media="Email"
						,
						class="fa-regular fa-envelope fa-2xl py-3 text-black"
						,
						text="in-ncafa@trilogi.ac.id"
						,
						href=""
						,
					/>
				</ContactContainer>
			</Container>
		</Layout>