---
import Jumbotron from "../layouts/partials/Jumbotron.astro";
import Paragraph from "../layouts/components/Paragraph.astro";
import Layout from "../layouts/partials/Layout.astro";
import Container from "../layouts/partials/Container.astro";
import ContactContainer from "../layouts/components/ContactContainer.astro";
import Contact from "../layouts/components/ContactSub.astro";
import Heading2 from "../layouts/components/Heading2.astro";
import DateIndex from "../layouts/components/DateIndex.astro";
import Button from "../layouts/helpers/Button.astro";
import ButtonContainer from "../layouts/helpers/ButtonContainer.astro";
---

<Layout title="Home">
	<!-- <PopUp/> -->
	<Jumbotron src="/jumbotron/tes.webp" />
	<Container>
		<Paragraph
			text="The theme of this year’s International Seminar highlights the growing importance of Environment, Social, and Governance (ESG) as a multidimensional framework that transcends traditional business boundaries. ESG has evolved into a critical benchmark used by stakeholders—including investors, regulators, academics, and society at large—in assessing organizational performance, accountability, and long-term sustainability. In today’s interconnected world, ESG is no longer confined to corporate practices alone, but extends into education, public policy, and community development.

This seminar brings together interdisciplinary perspectives from Accounting, Management, Economic Development (EKP), Primary School Education (PGSD), and Early Childhood Education (PGPAUD), reflecting the holistic nature of ESG implementation. From financial transparency and responsible governance, to sustainable business strategies, inclusive economic growth, and the cultivation of environmental and social awareness through education, each discipline contributes to shaping a more sustainable future.

Organizations and institutions that embrace ESG principles are increasingly recognized for their resilience, ethical standards, and positive societal impact. Moreover, the integration of ESG into decision-making processes enhances reputation, strengthens stakeholder trust, and opens broader access to funding and collaboration opportunities. In the educational domain, embedding ESG values from early childhood to higher education plays a pivotal role in nurturing future generations who are socially responsible, environmentally conscious, and ethically driven.

Therefore, this international seminar serves as a collaborative platform to exchange ideas, research findings, and best practices across disciplines, fostering innovation and synergy in advancing ESG-driven initiatives for sustainable development."
		/>
	</Container>
	<Container>
		<Heading2 text="Timeline" />
		<DateIndex />
	</Container>
	<Container>
		<div class="flex justify-center align-items-center flex-col">
			<div class="flex justify-center">
				<img class="w-[3/6] lg:w-1/2" src="/InNCAFA2024Poster.jpg" alt="" />
			</div>
			<ButtonContainer>
				<a
					href="/InNCAFA2024Poster.jpg"
					class="relative hover:bg-[#d1d5db] rounded-full border-amber-300 cursor-pointer block py-3 px-6 -mb-px border border-gray-300 no-underline w-fill flex gap-3 py-3 items-center animate__animated"
					aria-current="true"
					download=""
				>
					<i class="fa-solid fa-download"></i>
					<div class="flex gap-2 w-full justify-between">
						<div>
							<h6 class="mb-0 text-sm lg:text-base">Download Poster</h6>
							<p class="mb-0 opacity-75 text-xs lg:text-base">
								Click this button to download poster.
							</p>
						</div>
					</div>
				</a>
			</ButtonContainer>
		</div>
	</Container>
	<Container>
		<Heading2 text="Contact Us" />
		<ContactContainer>
			<Contact
				media="Email"
				,
				class="fa-regular fa-envelope fa-2xl py-3 text-black"
				,
				text="in-ncafa@trilogi.ac.id"
				,
				href="https://wa.me/6281288425931"
				,
			/>
			<Contact
				media="Instagram"
				,
				class="fa-brands fa-instagram fa-2xl py-3 text-black"
				,
				text="@in.ncafatrilogi"
				,
				href=""
				,
			/>
			<Contact
				media="LinkedIn"
				,
				class="fa-brands fa-linkedin fa-2xl py-3 text-black"
				,
				text="@in.ncafatrilogi"
				,
				href="https://www.linkedin.com/company/cafa-trilogi"
				,
			/>
		</ContactContainer>
	</Container>
</Layout>
