---
import Layout from "../layouts/partials/Layout.astro";
import Container from "../layouts/partials/Container2.astro";
import Heading2 from "../layouts/components/Heading2.astro";
import HeadingMini from "../layouts/components/HeadingMini.astro";
import ContactContainer from "../layouts/components/ContactContainer.astro";
import Contact from "../layouts/components/ContactSub.astro";
---

<Layout title="Sponsors">

  <Container>
    <div class="flex flex-col gap-10">

      <!-- PLATINUM -->
      <div>
        <HeadingMini text="Platinum Sponsor" />
        <div id="platinum" class="flex justify-center flex-wrap gap-6 mt-4"></div>
      </div>

      <!-- GOLD -->
      <div>
        <HeadingMini text="Gold Sponsor" />
        <div id="gold" class="flex justify-center flex-wrap gap-6 mt-4"></div>
      </div>

      <!-- SILVER -->
      <div>
        <HeadingMini text="Silver Sponsor" />
        <div id="silver" class="flex justify-center flex-wrap gap-6 mt-4"></div>
      </div>

      <!-- BRONZE -->
      <div>
        <HeadingMini text="Bronze Sponsor" />
        <div id="bronze" class="flex justify-center flex-wrap gap-6 mt-4"></div>
      </div>

    </div>
  </Container>

  <!-- CONTACT -->
  <Container>
    <Heading2 text="Contact Us" />
    <ContactContainer>
      <Contact
        media="WhatsApp"
        class="fa-brands fa-whatsapp fa-2xl py-3 text-black"
        text="+62 881-1675-315 (Ms. Novia)"
        href="https://wa.me/628811675315"
      />
      <Contact
        media="Email"
        class="fa-regular fa-envelope fa-2xl py-3 text-black"
        text="in-ncafa@trilogi.ac.id"
        href=""
      />
      <Contact
        media="Instagram"
        class="fa-brands fa-instagram fa-2xl py-3 text-black"
        text="@in.ncafatrilogi"
        href="https://www.instagram.com/in.ncafatrilogi"
      />
    </ContactContainer>
  </Container>

</Layout>

<script>
  const endpoint = "https://data.jetadmin.app/projects/inncafa/prod/googlesheets_fyr8/models/sponsors_data";

  async function fetchSponsors() {
    try {
      const res = await fetch(endpoint, {
        headers: {
          Authorization: "Bearer q1ZPkHTDtpqjsmyyspYZ4B2ZK0nq0rqwliw4mCwT"
        }
      });

      const data = await res.json();
      const sponsors = data.results;

      renderSponsors("Platinum", "platinum", "w-full max-w-md");
      renderSponsors("Gold", "gold", "w-64");
      renderSponsors("Silver", "silver", "w-52");
      renderSponsors("Bronze", "bronze", "w-40");

      function renderSponsors(type, elementId, sizeClass) {
        const container = document.getElementById(elementId);

        container.innerHTML = sponsors
          .filter(s => s.Paket === type)
          .sort((a, b) => a.__jet_pk__ - b.__jet_pk__)
          .map(s => `
            <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 p-4 flex items-center justify-center">
              <img class="${sizeClass} object-contain hover:scale-105 transition"
                   src="${s.MediaUrl}"
                   alt="${s.Nama}" />
            </div>
          `).join("");
      }

    } catch (err) {
      console.error("Error loading sponsors:", err);
    }
  }

  fetchSponsors();
</script>