<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#47A2C6" />

    <title>Registration Form - 2nd Int'l & 5th Nat'l CAFA 2024</title>
    <meta http-equiv="refresh" content="0; url='https://drive.google.com/uc?export=download&id=1VCyv1UKPzBRUWsOS3dOT7LCKhbyYu9zz'" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
      setTimeout(function() {
        window.location.href = 'https://in-ncafa.trilogi.ac.id';
      }, 5000); // Change 5000 to the desired delay in milliseconds (e.g., 5000 for 5 seconds)
    </script>
  </head>
</html>
