---
import Button from '../../../layouts/helpers/Button.astro';
import Heading2 from '../../../layouts/components/Heading2.astro';
import ButtonContainer from '../../../layouts/helpers/ButtonContainer.astro';
import Container from '../../../layouts/partials/Container.astro';
import Layout2 from '../../../layouts/partials/Layout2.astro';
---

<Layout2 title="Seminar Materials">
	<main>
        <Container>
            <Heading2 text="Seminar Materials"/>
            <ButtonContainer>
                <Button
                    href="https://drive.google.com/uc?export=download&id=1H2jqLsh1JMEIWxSe3N0a-2I0X3aeG3ho"
                    class="fa-solid fa-download"
                    title="Dr. Hery Subowo S.E., MPM., Ak., CA, CPA, CSFA., CIA., Ak., CFrA., CFE."
                    description="Click this button to download this seminar materials."
                />
                <Button
                    href="https://drive.google.com/uc?export=download&id=1JR0JBncwIc1DnFouAUp78FYqHpZaE9M-"
                    class="fa-solid fa-download"
                    title="Prof. Dr. Sylvia Veronica Siregar, S.E., Ak., CA., CSRS., CSRA."
                    description="Click this button to download this seminar materials."
                />
                <Button
                    href="https://drive.google.com/uc?export=download&id=1NA-QO_blDNW94eeE3Y4EXlnXTEEmOXQg-"
                    class="fa-solid fa-download"
                    title="Denny Vissaro, S.E., M.S.E., M.A., ADIT."
                    description="Click this button to download this seminar materials."
                />
                <Button
                    href="https://drive.google.com/uc?export=download&id=1rlgU063XET2CVxb4F6Yd7c2QPKcGVxCu"
                    class="fa-solid fa-download"
                    title="Dr. Jamaludin Iskak, M.Si., Ak., CA., CPA., CPI., ASEAN, CPA."
                    description="Click this button to download this seminar materials."
                />
                <Button
                    href="https://drive.google.com/uc?export=download&id=1vI26g9pDNKPX2J8GwHidwBmaRcvJm-8s"
                    class="fa-solid fa-download"
                    title="Zubir Azhar, Ph.D., FCPA., CA., ACPA."
                    description="Click this button to download this seminar materials."
                />
                <Button
                    href="https://drive.google.com/uc?export=download&id=1HTkAyjsJSdSQXBGUh2wmeQWXFFHQxQ1y"
                    class="fa-solid fa-download"
                    title="Prof. Masatsugu Nemoto"
                    description="Click this button to download this seminar materials."
                />
                <Button
                    href="https://drive.google.com/uc?export=download&id=11L-EjRkm3GD6IsCpLb0OY4khs_0Jwrzy"
                    class="fa-solid fa-download"
                    title="Prof. Dr. rer. pol. Hamzah Ritchi, CA."
                    description="Click this button to download this seminar materials."
                />
                <Button
                    href="https://drive.google.com/uc?export=download&id=1twWlh5K-jpQK4vKAoe9NARx-cnbrtE6-"
                    class="fa-solid fa-download"
                    title="Donny Hamdani, S.E., Ak."
                    description="Click this button to download this seminar materials."
                />
                <Button
                    href="https://drive.google.com/uc?export=download&id="
                    class="fa-solid fa-download"
                    title="Oluwatoyin Muse Johnson Popoola, JP, Ph.D., MBA PGDAF., HDipl., RPA., Member INSOL International., AM(M)., CFA., FCTI., FCA."
                    description="Click this button to download this seminar materials."
                />

            </ButtonContainer>
        </Container>
	</main>
</Layout>