<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#47A2C6" />

    <title>Seminar Presence Day 1 - 2nd Intl. & 5th Natl. CAFA 2024</title>
    <meta http-equiv="refresh" content="0; url='https://forms.gle/uKm2Mn6UwFeX9Zu99'" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</html>